# PostgreSQL Configuration
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=inzynierka_db

# JWT Secret (zmień to na coś silnego na produkcji!)
SECRET_KEY=twoj-sekret-klucz-zmien-to-na-produkcje
