:root{
    --font-primary: "Inter";
    --color-primary: #eb285a;
    --color-primary-contrast: #d91d4f;
    --color-secondary: #006efa;
    --color-secondary-contrast: #005da2;
    --color-royal-blue: #0069ff;
    --color-text: #141e50;
    --color-border-gray: #727896;
    --color-basic-blue: #cedeff;
    --color-gray-2: #f4f4f4;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 20px;
    background: white;
    display: flex;
    justify-content: center;
    font-family: var(--font-primary);
    color: var(--color-text);
}
.app {
    background: var(--color-basic-blue);
    padding: 40px;
    border-radius: 12px;
}
.calosc {
    display: flex;
    gap: 50px;
    align-items: center;
}
.lewo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.nickname h1 {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}
.avatar {
    width: 300px;
    height: 300px;
    background: var(--color-gray-2);
    border: 4px solid var(--color-border-gray);
    border-radius: 6px;
    overflow: hidden;
}
.avatar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    image-rendering: pixelated;
}
.statystyki {
    width: 300px;
    background: var(--color-gray-2);
    border: 2px solid var(--color-border-gray);
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.statystyki h2 {
    margin: 0 0 10px 0;
    text-align: center;
    font-size: 20px;
}
.stat {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-border-gray);
}
.stat:last-child {
    border-bottom: none;
}
@media (max-width: 700px) {
    .wyglad {
        flex-direction: column;
        align-items: center;
    }

    .statystyki {
        width: 100%;
    }
}
