:root{
    --font-primary: "Inter", "Verdana", "Tahoma", "Segoe UI";
    --color-primary: #eb285a;
    --color-primary-contrast: #d91d4f;
    --color-secondary: #006efa;
    --color-secondary-contrast: #005da2;
    --color-royal-blue: #0069ff;
    --color-text: #141e50;
    --color-border-gray: #727896;
    --color-basic-blue: #cedeff;
}
.container{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 1.15;
    text-size-adjust: 100%;
    margin: 50px;
}
.card{
    padding: 30px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
.logo{
    flex: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: var(--font-primary);
    color: var(--color-text);
    z-index: 1;
}
.logo h1{
    font-size: 4rem;
    gap: 0.5em;
    font-weight: bold;
    margin: 5px 0;
    line-height: 1.1;
    white-space: nowrap;
}
.logo h1::first-letter{
    color: var(--color-royal-blue);
    font-size: 1.15em;
    font-weight: bold;
}
.logow{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login h2, .rejestr h2{
    font-weight: 1000;
    font-size: 2rem;
}
.login{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--color-text);
    font-family: var(--font-primary);
    background: var(--color-basic-blue);
    padding: 30px;
}
.logowanie{
    background: var(--color-primary);
    border: none;
    color: #fff;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.7rem;
    outline: none;
    padding: 8px 16px;
    width: 200px;
    margin: 15px 0;
    border-radius: 5px;
    transition: background 0.7s, transform 0.3s;
}
.logowanie:hover{
    background: var(--color-primary-contrast);
}
.logowanie:active{
    transform: translateY(2px);
}
.field {
    position: relative;
    margin-bottom: 10px;
}
.field input {
    width: 97%;
    padding: 20px 10px 7px;
    font-size: 16px;
    border: 1px solid var(--color-border-gray);
    outline: none;
}
.field label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #777;
    pointer-events: none;
    transition: 0.25s ease;
}
.field input:focus + label,
.field input:not(:placeholder-shown) + label {
    top: 7px;
    font-size: 12px;
    color: var(--color-text);
}
.input-box{
    position: relative;
}
.eye-icon{
    position: absolute;
    right: 0.75rem;
    top: 25%;
    width: 24px;
    cursor: pointer;
}
.field input:focus ~ .eye-icon {
    transform: translateY(0);
}
.login a{
    text-decoration: none;
    font-size: 0.8rem;
    color: var(--color-text);
    font-weight: 600;
    width: fit-content;
}
.rejestr{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--color-text);
    font-family: var(--font-primary);
    background: var(--color-basic-blue);
    padding: 30px;
}
.going-back a{
    text-decoration: none;
    font-family: var(--font-primary);
    color: var(--color-text);
}
.rejestracja{
    background: var(--color-secondary);
    border: 1px solid white;
    color: #fff;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.694rem;
    outline: none;
    padding: 8px 16px;
    width: 200px;
    border-radius: 5px;
    transition: background 0.7s, transform 0.3s;
}
.rejestracja:hover{
    background: var(--color-secondary-contrast);
}
.rejestracja:active{
    transform: translateY(2px);
}
.input-box{
    position: relative;
}
.eye-icon{
    position: absolute;
    right: 0.75rem;
    top: 25%;
    width: 24px;
    cursor: pointer;
}
.site-footer {
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
    color: var(--color-text);
}
@media (min-width: 769px){
    .logo{
        position: fixed;
        top: 50%;
        left: 2vw;
        transform: translateY(-50%);
        z-index: 999;
        width: 30vw; 
        min-width: 300px;
    }
    .logo h1{
        font-size: clamp(2.7rem, 5vw, 5.5rem);
        white-space: normal;
    }
    .logow{
        padding-left: 31.5vw;
    }
}
@media (max-width: 768px){
    .logo h1 {
        font-size: 4.5rem;
    }
    .container {
        flex-direction: column;
    }
}